<div class="row">
  <div class="col-md-6">
    <h2>Updating your Blog Post from {{format_date blogpost.date}}</h2>

    <form class="blogpost-form" data-id="{{blogpost.id}}">
      <div class="form-group">
        <label>Title:</label>
        <input class="form-input" type="text" id="title" value="{{blogpost.title}}" />
      </div>
      <div class="form-group">
        <label>Content:</label>
        <textarea class="form-input" type="text" id="content" >{{blogpost.content}}</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary"  type="submit">Update Blogpost</button>
      </div>
    </form>
  </div>
</div>
      <script src="/js/editblogpost.js"></script>