<div class="row">
  <div class="col-md-6">
    <h2>New Blog Post</h2>

    <form class="blogpost-form">
      <div class="form-group">
        <label>Title:</label>
        <input class="form-input" type="text" id="title" />
      </div>
      <div class="form-group">
        <label>Content:</label>
        <textarea class="form-input" type="text" id="content" ></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
  </div>
</div>
      <script src="./js/blogpost.js"></script>