<div class="row">
  <div class="col-md-6">
    <h2>New Blog Post</h2>

    <form class="blogpost-form">
      <div class="form-group">
        <label>title:</label>
        <input class="form-input" type="text" id="title" />
      </div>
      <div class="form-group">
        <label>content:</label>
        <input class="form-input" type="text" id="content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
</div>
      <script src="./js/addblogpost.js"></script>